Repository imd14s/AtelieFilhosDeAruanda-: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

Testes de Integração de Fluxo (E2E): Implementação de Playwright para validar os fluxos críticos "Pedido -> Pagamento -> NF-e"
  package-lock.json
  package.json
  playwright-report/index.html
  test-results/.last-run.json
  tests-e2e/pages/AdminPage.ts
  tests-e2e/pages/CheckoutPage.ts
  tests-e2e/pages/StorefrontPage.ts
  tests-e2e/playwright.config.ts
  tests-e2e/specs/SalesFlow.spec.ts
Due: none

Pipeline de CI/CD (GitHub Actions): Automação de builds e Quality Gates para garantir que apenas código aprovado chegue aos ramos principais.
  .github/workflows/ci.yml
Due: none

Monitorização de Cobertura e Estática: Integração com SonarCloud e JaCoCo para auditoria de segurança e qualidade profunda.
  .github/workflows/ci.yml
  backend/pom.xml
  dashboard-admin/vitest.config.ts
  frontend/vitest.config.ts
  sonar-project.properties
Due: none

Script de Sincronização de Métricas: Criação de um utilitário que extrai dados de cobertura (JaCoCo/Vitest) e análise estática.
  .github/workflows/ci.yml
  MANIFESTO.md
  dashboard-admin/vitest.config.ts
  frontend/vitest.config.ts
  package.json
  scripts/sync-manifesto.js
Due: none

Extrator de Contratos (API Docs): Lógica para ler anotações de Controllers e gerar a tabela de rotas automaticamente no Manifesto.
  .github/workflows/ci.yml
  MANIFESTO.md
  backend/src/main/java/com/atelie/ecommerce/api/order/OrderController.java
  package.json
  scripts/introspect-contracts.js
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

Validador de Guardrails: Lógica para comparar as métricas reais com os SLAs (Service Level Agreements) e decidir o status do build.
  .github/workflows/ci.yml
  MANIFESTO.md
  package.json
  scripts/validate-guardrails.js
Due: none

Workflow de Documentação Contínua: Integração final no pipeline de CI/CD para persistência e versionamento automático do Manifesto.
  .github/workflows/ci.yml
Due: none

Arquitetura de Estratégia de Frete: Criação da camada de abstração (Strategy Pattern) para suportar múltiplos provedores (Correios, Melhor Envio, Jadlog).
  MANIFESTO.md
  backend/src/main/java/com/atelie/ecommerce/api/shipping/service/ShippingService.java
  backend/src/main/java/com/atelie/ecommerce/application/dto/shipping/ShippingQuoteRequest.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/factory/ShippingProviderFactory.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/strategy/ShippingStrategy.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/strategies/MelhorEnvioStrategy.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/strategies/OfflineContingencyStrategy.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

Motor de Cálculo em Tempo Real: Integração com APIs externas para cotação de prazos e preços no checkout e página de produto.
  MANIFESTO.md
  backend/src/main/java/com/atelie/ecommerce/api/shipping/service/ShippingService.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/config/CacheConfig.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/strategies/MelhorEnvioStrategy.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implementa módulo de rastreio automatizado com eventos e notificações
  .agents/rules/padroes-arquitetura.md
  backend/src/main/java/com/atelie/ecommerce/api/webhook/WebhookController.java
  backend/src/main/java/com/atelie/ecommerce/application/listener/shipping/TrackingNotificationListener.java
  backend/src/main/java/com/atelie/ecommerce/application/service/shipping/TrackingService.java
  backend/src/main/java/com/atelie/ecommerce/domain/marketing/model/AutomationType.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/event/TrackingUpdatedEvent.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/model/TrackingStatus.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/shipping/TrackingHistoryEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/shipping/TrackingHistoryRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/melhorenvio/MelhorEnvioClient.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implementa gestão de etiquetas de postagem e integração com Melhor Envio
  backend/src/main/java/com/atelie/ecommerce/api/shipping/LabelController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/ShippingAutomationService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/shipping/ShippingLabelService.java
  backend/src/main/java/com/atelie/ecommerce/domain/order/OrderStatus.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/shipping/ShippingLabelEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/shipping/ShippingLabelRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/melhorenvio/MelhorEnvioClient.java
  docs-ai/MASTER_INDEX.md
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

refactor: resolve ProductForm hooks, CreateProductDTO payload, and backend ArchitectureTest compliance
  .husky/pre-push
  backend/src/main/java/com/atelie/ecommerce/api/admin/AdminOrderController.java
  backend/src/main/java/com/atelie/ecommerce/api/checkout/CheckoutController.java
  backend/src/main/java/com/atelie/ecommerce/api/order/OrderController.java
  backend/src/main/java/com/atelie/ecommerce/application/dto/order/OrderResponse.java
  backend/src/main/java/com/atelie/ecommerce/application/mapper/OrderMapper.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/strategy/SefazFiscalStrategy.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  dashboard-admin/src/components/settings/fiscal/CertificateUploadForm.tsx
  dashboard-admin/src/components/ui/MaskedInput.tsx
  dashboard-admin/src/components/ui/NcmAutocomplete.tsx
  dashboard-admin/src/hooks/useStockAlerts.ts
  dashboard-admin/src/pages/orders/OrdersList.test.tsx
  dashboard-admin/src/pages/products/ProductForm.tsx
  dashboard-admin/src/pages/settings/ShippingPage.test.tsx
  frontend/src/App.tsx
  frontend/src/components/AuthModal.test.tsx
  frontend/src/components/ProductCard.test.tsx
  frontend/src/components/ReviewForm.tsx
  frontend/src/components/ReviewSection.tsx
  frontend/src/components/ui/MaskedInput.tsx
  frontend/src/hooks/useMercadoPago.ts
  frontend/src/pages/BenefitsPage.tsx
  frontend/src/pages/CheckoutPage.test.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/ContactPage.tsx
  frontend/src/pages/OrderDetailPage.tsx
  frontend/src/pages/OrdersPage.tsx
  frontend/src/pages/ProductPage.tsx
  frontend/src/pages/ProfilePage.tsx
  frontend/src/pages/ReviewsPage.tsx
  frontend/src/pages/SearchPage.tsx
  frontend/src/pages/SubscriptionDetailPage.tsx
  frontend/src/services/cartService.test.ts
  frontend/src/services/cartService.ts
  frontend/src/utils/nsfwModerator.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: adiciona motor de regras de frete dinamico
  backend/src/main/java/com/atelie/ecommerce/api/shipping/service/ShippingService.java
  backend/src/main/java/com/atelie/ecommerce/application/dto/shipping/ShippingQuoteResponse.java
  backend/src/main/java/com/atelie/ecommerce/application/service/shipping/ShippingRulesEngine.java
  backend/src/main/java/com/atelie/ecommerce/domain/config/SystemConfigKey.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/rules/BenefitType.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/rules/ShippingRule.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/rules/ShippingRuleBenefit.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/rules/ShippingRuleTrigger.java
  backend/src/main/java/com/atelie/ecommerce/domain/shipping/strategy/ShippingStrategy.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/strategies/MelhorEnvioStrategy.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/shipping/strategies/OfflineContingencyStrategy.java
  backend/src/test/java/com/atelie/ecommerce/application/service/shipping/ShippingRulesEngineTest.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

fix: resolve remaining typescript and lint errors in dashboard-admin frontend
  dashboard-admin/src/components/products/CreatableCategorySelect.tsx
  dashboard-admin/src/components/shipping/MandaBemConfig.tsx
  dashboard-admin/src/components/shipping/MelhorEnvioConfig.tsx
  dashboard-admin/src/pages/settings/FiscalSettings.tsx
  dashboard-admin/src/services/ProductService.ts
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts

fix(dashboard): resolve final strict type matching and eslint any warnings
  dashboard-admin/src/pages/marketing/AbandonedCartPage.tsx
  dashboard-admin/src/pages/marketing/CampaignsPage.tsx
  dashboard-admin/src/pages/marketing/EmailTemplatesPage.tsx
  dashboard-admin/src/pages/settings/ShippingPage.tsx
  dashboard-admin/src/pages/subscriptions/SubscriptionPlansPage.tsx
  dashboard-admin/src/services/ProductService.ts
  dashboard-admin/tsc_errors_new.txt
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts

feat(backend): implement Financial Aggregator Service (Ledger layer)
  backend/src/main/java/com/atelie/ecommerce/api/fiscal/FinancialDashboardController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/FinancialAggregatorService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/FinancialLedger.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/FinancialLedgerRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaFinancialLedgerAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/FinancialLedgerEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaFinancialLedgerRepository.java
  start-dev.sh
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implement profitability and tax provision engine
  backend/src/main/java/com/atelie/ecommerce/api/fiscal/ProfitabilityController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/FinancialAggregatorService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/FiscalExtractorService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/TaxProvisionService.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/FinancialLedger.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/TaxProvision.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/FinancialLedgerRepository.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/TaxProvisionRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaFinancialLedgerAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaTaxProvisionAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/FinancialLedgerEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/TaxProvisionEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaTaxProvisionRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/ProductVariantEntity.java
  backend/src/main/resources/db/migration/V14__add_profitability_and_tax_provision.sql
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implement banking reconciliation and cash flow module
  backend/src/main/java/com/atelie/ecommerce/api/fiscal/CashFlowController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/BankingReconciliationService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/CashFlowService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/FinancialAggregatorService.java
  backend/src/main/java/com/atelie/ecommerce/application/serviceengine/driver/payment/MercadoPagoPaymentDriver.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/BankingReconciliation.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/CashFlowEntry.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/BankingReconciliationRepository.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/CashFlowRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaBankingReconciliationAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaCashFlowAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/BankingReconciliationEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/CashFlowEntryEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaBankingReconciliationRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaCashFlowRepository.java
  backend/src/main/resources/db/migration/V15__add_cash_flow_and_reconciliation.sql
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: adiciona módulo de Visual Analytics e indicadores financeiros
  backend/src/main/java/com/atelie/ecommerce/application/dto/analytics/DashboardMetricsResponse.java
  backend/src/main/java/com/atelie/ecommerce/application/service/analytics/AnalyticsService.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/FinancialLedgerRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaFinancialLedgerAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaFinancialLedgerRepository.java
  dashboard-admin/src/App.tsx
  dashboard-admin/src/components/layout/DashboardLayout.tsx
  dashboard-admin/src/pages/analytics/VisualAnalytics.tsx
  dashboard-admin/src/services/AnalyticsService.ts
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implementa módulo de geração de relatórios e auditoria fiscal
  backend/pom.xml
  backend/src/main/java/com/atelie/ecommerce/api/fiscal/ReportController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/FinancialAggregatorService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/ReportService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/ReportStorageService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/SnapshotScheduler.java
  backend/src/main/java/com/atelie/ecommerce/application/service/fiscal/SnapshotService.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/FinancialSnapshot.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/model/GeneratedReport.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/FinancialSnapshotRepository.java
  backend/src/main/java/com/atelie/ecommerce/domain/fiscal/repository/GeneratedReportRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaFinancialSnapshotAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/adapter/JpaGeneratedReportAdapter.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/FinancialSnapshotEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/entity/GeneratedReportEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaFinancialSnapshotRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/fiscal/repository/JpaGeneratedReportRepository.java
  dashboard-admin/src/App.tsx
  dashboard-admin/src/components/layout/DashboardLayout.tsx
  dashboard-admin/src/pages/fiscal/Reports.tsx
  dashboard-admin/src/services/ReportService.ts
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implementa módulo de geração de relatórios e auditoria fiscal
  dashboard-admin/src/pages/fiscal/Reports.tsx
  dashboard-admin/src/services/ReportService.ts
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts

feat: implementa motor de metadados dinâmicos e injeção SSR (refatorado para Clean Architecture)
  backend/src/main/java/com/atelie/ecommerce/api/catalog/SeoMetadataController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/SeoMetadataService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/dto/SeoMetadataDTO.java
  backend/src/main/java/com/atelie/ecommerce/application/serviceengine/driver/payment/MercadoPagoPaymentDriver.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/config/security/SecurityConfig.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/config/web/SeoInjectionFilter.java
  frontend/src/components/SEO.tsx
  frontend/src/pages/CategoryPage.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/ProductPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

perf: otimização de core web vitals (critical css, font preload, cls and code splitting)
  frontend/index.html
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/Hero.tsx
  frontend/src/components/NavMenu.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/components/ReviewForm.tsx
  frontend/src/components/ReviewSection.tsx
  frontend/src/index.css
  frontend/src/utils/nsfwModerator.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

feat: implement dynamic sitemap.xml, robots.txt and sitemap cache eviction for automated indexing
  backend/src/main/java/com/atelie/ecommerce/api/catalog/IndexingController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/SitemapService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/category/CategoryService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/product/ProductService.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: motor de coleta de avaliações verificadas e selos de confiança
  backend/src/main/java/com/atelie/ecommerce/api/catalog/review/ReviewController.java
  backend/src/main/java/com/atelie/ecommerce/application/listener/shipping/TrackingNotificationListener.java
  backend/src/main/java/com/atelie/ecommerce/application/service/review/ReviewService.java
  backend/src/main/java/com/atelie/ecommerce/domain/marketing/model/AutomationType.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/review/ReviewEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/review/ReviewTokenEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/review/ReviewTokenRepository.java
  frontend/src/App.tsx
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/NavMenu.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/components/ReviewForm.tsx
  frontend/src/components/ReviewSection.tsx
  frontend/src/components/VerifiedBadge.tsx
  frontend/src/pages/ReviewSubmissionPage.tsx
  frontend/src/services/productService.ts
  frontend/src/types/product.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: motor de coleta de avaliações verificadas e selos de confiança
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/NavMenu.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/components/ReviewForm.tsx
  frontend/src/components/ReviewSection.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

feat: módulo de upload de mídia para prova social com suporte multipart e captura mobile
  .husky/pre-push
  backend/src/main/java/com/atelie/ecommerce/api/catalog/review/ReviewController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/review/ReviewService.java
  frontend/src/components/ReviewForm.tsx
  frontend/src/services/productService.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: implement social proof widgets and review management dashboard
  backend/src/main/java/com/atelie/ecommerce/api/admin/review/ReviewAdminController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/review/ReviewService.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/review/ReviewEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/review/ReviewRepository.java
  dashboard-admin/src/App.tsx
  dashboard-admin/src/components/layout/DashboardLayout.tsx
  dashboard-admin/src/pages/marketing/ReviewManagementPage.tsx
  dashboard-admin/src/services/ReviewService.ts
  dashboard-admin/src/types/review.ts
  frontend/src/components/ReviewSection.tsx
  frontend/src/components/reviews/RatingSummary.tsx
  frontend/src/components/reviews/ReviewSkeletons.tsx
  frontend/src/components/reviews/UGCGallery.tsx
  frontend/src/pages/ProductPage.tsx
  frontend/src/services/productService.ts
  frontend/src/types/product.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: fix ReviewSection imports and complete social proof widgets
  frontend/src/components/ReviewSection.tsx
  frontend/src/pages/ProductPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

test: stabilize frontend test suite and fix cross-component router nesting
  frontend/src/components/AuthModal.test.tsx
  frontend/src/components/ProductCard.test.tsx
  frontend/src/pages/CheckoutPage.test.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

feat: gamification engine for reviews with loyalty points
  .agents/skills/test-specialist/SKILL.md
  .husky/pre-push
  backend/src/main/java/com/atelie/ecommerce/application/event/ReviewApprovedEvent.java
  backend/src/main/java/com/atelie/ecommerce/application/listener/loyalty/ReviewApprovedEventListener.java
  backend/src/main/java/com/atelie/ecommerce/application/service/loyalty/LoyaltyService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/marketing/EmailService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/marketing/EmailSignatureService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/review/ReviewService.java
  backend/src/main/java/com/atelie/ecommerce/domain/marketing/model/EmailSignature.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/config/CacheConfig.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/loyalty/entity/WalletEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/loyalty/entity/WalletTransactionEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/loyalty/repository/WalletRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/loyalty/repository/WalletTransactionRepository.java
  backend/src/test/java/com/atelie/ecommerce/api/admin/GeneralAdminIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/analytics/AnalyticsIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/catalog/product/ProductControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/catalog/product/ProductControllerTest.java
  backend/src/test/java/com/atelie/ecommerce/api/catalog/product/RealProductCreateIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/checkout/CheckoutControllerTest.java
  backend/src/test/java/com/atelie/ecommerce/api/fiscal/ncm/NcmControllerTest.java
  backend/src/test/java/com/atelie/ecommerce/api/marketing/NewsletterControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/order/OrderControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/application/integration/MarketplaceCoreServiceTest.java
  backend/src/test/java/com/atelie/ecommerce/application/service/loyalty/LoyaltyServiceTest.java
  backend/src/test/java/com/atelie/ecommerce/infrastructure/service/fiscal/nfe/NfeDataMapperTest.java
  backend/src/test/resources/application-test.yml
  frontend/vitest.config.ts
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

test: achieve 100% unit test coverage for AUTH module
  backend/src/main/java/com/atelie/ecommerce/application/service/auth/AuthService.java
  backend/src/test/java/com/atelie/ecommerce/application/service/auth/AuthServiceTest.java
  backend/src/test/java/com/atelie/ecommerce/application/service/auth/PasswordResetServiceTest.java
  backend/src/test/java/com/atelie/ecommerce/domain/auth/model/RoleTest.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

docs: refactor MANIFESTO.md and update AI master index
  MANIFESTO.md
  docs-ai/MASTER_INDEX.md
Due: none

docs: refactor functional catalog to business-centric view with usage and access levels
  MANIFESTO.md
Due: none

docs: split metrics into project tables and expand functional catalog with granular data/access details
  MANIFESTO.md
Due: none

test: achieve 100% coverage for AUTH module controllers and repository edges
  backend/pom.xml
  backend/src/test/java/com/atelie/ecommerce/api/auth/AuthControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/auth/PasswordResetControllerTest.java
  backend/src/test/java/com/atelie/ecommerce/infrastructure/persistence/auth/UserRepositoryTest.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

test: 100% coverage for Button, Spinner and MaskedInput components
  frontend/src/components/ui/Button.test.tsx
  frontend/src/components/ui/MaskedInput.test.tsx
  frontend/src/components/ui/MaskedInput.tsx
  frontend/src/components/ui/Spinner.test.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

Path conditions:
  frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js: any of: frontend/src/**/*.{ts,tsx}
  frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts: any of: frontend/src/**/*.{ts,tsx}
  dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js: any of: dashboard-admin/src/**/*.{ts,tsx}
  dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts: any of: dashboard-admin/src/**/*.{ts,tsx}
  sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest': any of: backend/src/**/*.java
