Repository imd14s/AtelieFilhosDeAruanda-: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

.lintstagedrc.json:

{
    "frontend/src/**/*.{ts,tsx}": [
        "frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js",
        "frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts"
    ],
    "dashboard-admin/src/**/*.{ts,tsx}": [
        "dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js",
        "dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts"
    ],
    "backend/src/**/*.java": [
        "sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'"
    ]
}

test: adiciona testes de integração para ProfilePage com 94% de cobertura
  frontend/src/pages/ProfilePage.test.tsx
  frontend/src/pages/ProfilePage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

docs: refatora Painel de Saúde e Catálogo Funcional do sistema
  MANIFESTO.md
Due: none

test: corrige tipagem do MockFileReader no ProfilePage.test
  frontend/src/pages/ProfilePage.test.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

chore: ignora pasta coverage no eslint
  frontend/.eslintignore
Due: none

chore(lint): ignora pasta coverage no eslint.config.js
  frontend/eslint.config.js
Due: none

fix: resolve erros de importação no modulo de marketing do dashboard
  dashboard-admin/src/pages/marketing/ReviewManagementPage.tsx
  dashboard-admin/src/services/ReviewService.ts
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts

chore(lint): remove .eslintignore obsoleto
  frontend/.eslintignore
Due: none

fix: resolve importação de tipos e remove dependência não instalada no admin
  dashboard-admin/src/pages/marketing/ReviewManagementPage.tsx
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts

fix(quality): resolve TS2532 and ESLint warnings in storefront and dashboard tests
  frontend/src/components/ProductCard.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

fix(quality): resolve TS2532 and ESLint warnings in storefront and dashboard tests
  frontend/eslint.config.js
Due: none

fix(quality): resolve architectural lint errors and stabilize component tests
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/ProductCard.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

fix(quality): resolve architectural lint errors and stabilize component tests
  frontend/eslint.config.js
Due: none

fix(quality): adjust coverage thresholds to 10% and stabilize all tests for v1 deploy
  MANIFESTO.md
  dashboard-admin/vitest.config.ts
  frontend/vitest.config.ts
Due: none

feat: refatora NCM para input formatado e remove código residual (incluindo testes)
  backend/src/test/java/com/atelie/ecommerce/api/fiscal/ncm/NcmControllerTest.java
  backend/src/test/java/com/atelie/ecommerce/application/service/fiscal/ncm/NcmServiceTest.java
  backend/src/test/java/com/atelie/ecommerce/application/service/fiscal/ncm/NcmSyncServiceTest.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

fix: suporta NCM de 10 caracteres no backend e corrige reset de formulário
  .agents/rules/padroes-arquitetura.md
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/entity/ProductEntity.java
  dashboard-admin/src/pages/products/ProductForm.tsx
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

fix: corrige falhas no salvamento de produtos e inconsistências em variantes
  MANIFESTO.md
  backend/src/main/java/com/atelie/ecommerce/api/catalog/product/ProductController.java
  backend/src/main/java/com/atelie/ecommerce/api/catalog/product/ProductCreateRequest.java
  dashboard-admin/src/pages/products/ProductForm.tsx
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

feat: inverter chaves MP, adicionar desconto PIX e tornar checkout dinâmico
  MANIFESTO.md
Due: none

Update price_text for two products in JSON catalog
  frontend/public/catalog_tiktokshop_with_urls.json
Due: none
