Repository imd14s/AtelieFilhosDeAruanda-: changes, and which lint-staged commands are due for each by the changed paths.
All: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

.lintstagedrc.json:

{
    "frontend/src/**/*.{ts,tsx}": [
        "frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js",
        "frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts"
    ],
    "dashboard-admin/src/**/*.{ts,tsx}": [
        "dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js",
        "dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts"
    ],
    "backend/src/**/*.java": [
        "sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'"
    ]
}

Update price_text for product in JSON catalog
  frontend/public/catalog_tiktokshop_with_urls.json
Due: none

fix
  frontend/src/services/api.js
  frontend/src/services/authService.js
Due: none

fix: corrige imagem quebrada no footer da página sobre
  frontend/public/images/about-footer-bg.png
  frontend/src/pages/AboutPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

docs: atualiza manifesto com correção de imagem
  MANIFESTO.md
Due: none

feat: refatoração da página Sobre para design Nossa Essência
  MANIFESTO.md
  frontend/src/pages/AboutPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

fix: atualiza imagem da página Sobre para art.jpg
  MANIFESTO.md
  frontend/src/pages/AboutPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

fix: normalização de estoque no histórico de produtos
  frontend/src/services/orderService.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

fix: implementa fallback para ambiente SANDBOX no Mercado Pago
  backend/src/main/java/com/atelie/ecommerce/api/config/PublicConfigController.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

grande rallback
  .agents/workflows/analise.md
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/StockMovementRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/entity/StockMovementEntity.java
  backend/src/main/resources/db/migration/V7__add_stock_movements.sql
  dashboard-admin/src/pages/marketing/EmailMarketingHub.tsx
  dashboard-admin/src/pages/orders/OrderDetailModal.tsx
  dashboard-admin/src/pages/orders/OrdersList.tsx
  dashboard-admin/src/pages/settings/FiscalSettings.tsx
  dashboard-admin/src/types/order.ts
  docker-compose.yml
  frontend/public/images/about/footer_ocean_sunset_1772830663230.png
  frontend/public/images/about/hero_artesanato_umbanda_1772830649878.png
  frontend/public/images/about/umbanda_circle_illustration_1772830616052.png
  frontend/public/images/about/uploaded_media_1772830461392.png
  frontend/src/components/Footer.tsx
  frontend/src/components/NavMenu.tsx
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/ContactPage.tsx
  start_apps.sh
  terminal_erro.md
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção estoque
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/product/ProductService.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/ProductRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/ProductVariantRepository.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

coreção compra de produto variante.
  .agents/rules/padroes-arquitetura.md
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/pages/ProductPage.tsx
  frontend/src/services/cartService.ts
  pre-push.sh
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

correção de ambiente para remeter sempre para PRODUCTION
  backend/src/main/java/com/atelie/ecommerce/api/shipping/service/ShippingService.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção e inserção da formatação dos cep e cpf
  frontend/src/context/PaymentContext.tsx
  frontend/src/hooks/useMercadoPago.ts
  frontend/src/pages/CheckoutPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts

correção do pasiçĩonamento formulario endereçõ e formulario pix mercado pago
  dashboard-admin/src/pages/settings/components/MercadoPagoForm.tsx
  frontend/src/pages/CheckoutPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts

adicionado compra na conta de usuario.
  backend/src/main/java/com/atelie/ecommerce/api/admin/AdminConfigController.java
  backend/src/main/java/com/atelie/ecommerce/api/checkout/CheckoutController.java
  backend/src/main/java/com/atelie/ecommerce/api/marketing/NewsletterController.java
  backend/src/main/java/com/atelie/ecommerce/api/order/dto/CreateOrderRequest.java
  backend/src/main/java/com/atelie/ecommerce/application/service/auth/AuthService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/marketing/PriceDropNotificationService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/payment/MercadoPagoCustomerClient.java
  backend/src/test/java/com/atelie/ecommerce/api/catalog/product/ProductControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/catalog/product/RealProductCreateIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/checkout/CheckoutControllerTest.java
  backend/src/test/java/com/atelie/ecommerce/api/marketing/NewsletterControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/order/OrderControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/application/integration/MarketplaceCoreServiceTest.java
  backend/src/test/java/com/atelie/ecommerce/application/service/catalog/product/ProductServiceTest.java
  backend/src/test/resources/application-test.yml
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/SavedCardsPage.tsx
  frontend/src/services/orderService.ts
  frontend/src/types/order.ts
  pre-push.sh
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção da carteira de cliente agora é possivel salvar o cartão
  backend/src/main/java/com/atelie/ecommerce/api/checkout/CheckoutController.java
  backend/src/main/java/com/atelie/ecommerce/application/service/payment/MercadoPagoCustomerClient.java
  frontend/src/pages/BenefitsPage.tsx
  frontend/src/pages/SavedCardsPage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção do estoque
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/product/ProductService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/product/ProductVariantService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/inventory/InventoryService.java
Due: sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção do bug da variante não adicionada ao carrinho
  backend/src/main/java/com/atelie/ecommerce/api/cart/CartController.java
  frontend/package.json
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/ProductPage.tsx
  frontend/src/services/cartService.ts
  frontend/src/services/productService.ts
  frontend/src/types/cart.ts
  frontend/src/types/product.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção do calculo do estoque.
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/product/ProductService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/inventory/InventoryService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/ProductRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/StockMovementRepository.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/entity/ProductEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/entity/StockMovementEntity.java
  backend/src/main/resources/db/migration/V1__consolidated_schema.sql
  backend/src/main/resources/db/migration/V1__init_schema.sql
  backend/src/main/resources/db/migration/V2__seed_data.sql
  backend/src/main/resources/db/migration/V4__fiscal_config_and_retention.sql
  backend/src/main/resources/db/migration/V5__enable_default_providers.sql
  backend/src/main/resources/db/migration/V6__fix_provider_priorities.sql
  backend/src/main/resources/db/migration/V7__add_stock_movements.sql
  backend/src/main/resources/db/migration/V8__add_j3flex_shipping.sql
  backend/src/main/resources/db/migration/V9__remove_standard_shipping.sql
  backend/src/test/java/com/atelie/ecommerce/api/inventory/InventoryControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/api/order/OrderControllerIntegrationTest.java
  backend/src/test/java/com/atelie/ecommerce/application/service/catalog/product/ProductServiceTest.java
  dashboard-admin/src/pages/products/ProductForm.tsx
  terminal_erro.md
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção da ordem de serviços corrigindo valores e imagens
  .agents/skills/java/SKILL.md
  .agents/skills/typescript/SKILL.md
  backend/src/main/java/com/atelie/ecommerce/api/cart/CartController.java
  backend/src/main/java/com/atelie/ecommerce/api/checkout/CheckoutController.java
  backend/src/main/java/com/atelie/ecommerce/api/marketing/ProductFavoriteController.java
  backend/src/main/java/com/atelie/ecommerce/api/order/OrderController.java
  backend/src/main/java/com/atelie/ecommerce/api/order/dto/CreateOrderRequest.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/order/OrderEntity.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/product/entity/ProductEntity.java
  backend/src/main/resources/db/migration/V3__add_order_payment_discount.sql
  backend/src/test/java/com/atelie/ecommerce/api/order/OrderControllerIntegrationTest.java
  dashboard-admin/src/pages/orders/OrderDetailModal.tsx
  dashboard-admin/src/pages/orders/OrdersList.tsx
  dashboard-admin/src/types/order.ts
  frontend/src/components/AuthModal.test.tsx
  frontend/src/components/ProductCard.test.tsx
  frontend/src/components/ProductCard.tsx
  frontend/src/pages/CheckoutPage.test.tsx
  frontend/src/pages/CheckoutPage.tsx
  frontend/src/pages/OrderDetailPage.tsx
  frontend/src/services/orderService.ts
  frontend/src/test-utils.tsx
  frontend/src/types/order.ts
  frontend/src/utils/imageUtils.ts
  terminal_erro.md
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

correção de duplo update
  backend/src/main/java/com/atelie/ecommerce/application/service/catalog/product/ProductService.java
  dashboard-admin/src/services/ProductService.ts
Due: dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

adicionado remboso e logistica reversa
  backend/src/main/java/com/atelie/ecommerce/api/checkout/CheckoutController.java
  backend/src/main/java/com/atelie/ecommerce/api/order/OrderController.java
  backend/src/main/java/com/atelie/ecommerce/api/order/dto/OrderResponse.java
  backend/src/main/java/com/atelie/ecommerce/api/serviceengine/driver/payment/MercadoPagoPaymentDriver.java
  backend/src/main/java/com/atelie/ecommerce/api/serviceengine/driver/shipping/MelhorEnvioDriver.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/OrderService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/order/ReverseLogisticsService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/payment/PaymentService.java
  backend/src/main/java/com/atelie/ecommerce/infrastructure/persistence/order/OrderEntity.java
  backend/src/main/resources/db/migration/V5__add_refund_and_reverse_fields.sql
  dashboard-admin/src/pages/orders/OrderDetailModal.tsx
  dashboard-admin/src/services/OrderService.ts
  dashboard-admin/src/types/order.ts
  frontend/src/pages/OrderDetailPage.tsx
  frontend/src/types/order.ts
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, dashboard-admin/node_modules/.bin/eslint --fix --config dashboard-admin/eslint.config.js, dashboard-admin/node_modules/.bin/vitest related --run --config dashboard-admin/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'

adicão de pagina de troca de senha ecosistema de envio de emails.
  backend/src/main/java/com/atelie/ecommerce/api/user/UserProfileController.java
  backend/src/main/java/com/atelie/ecommerce/api/user/dto/ChangePasswordRequest.java
  backend/src/main/java/com/atelie/ecommerce/application/service/marketing/CommunicationService.java
  backend/src/main/java/com/atelie/ecommerce/application/service/user/UserProfileService.java
  backend/src/main/java/com/atelie/ecommerce/domain/marketing/model/AutomationType.java
  backend/src/main/resources/db/migration/V6__add_password_change_template.sql
  frontend/src/components/AuthModal.tsx
  frontend/src/components/CartDrawer.tsx
  frontend/src/components/profile/PasswordChangeForm.tsx
  frontend/src/pages/ProfilePage.tsx
Due: frontend/node_modules/.bin/eslint --fix --config frontend/eslint.config.js, frontend/node_modules/.bin/vitest related --run --config frontend/vitest.config.ts, sh -c 'mvn -f backend/pom.xml test -Dtest=ArchitectureTest'
